#backup-directory -source_device delray -source_directory "Users\thumb\VMs\rp-Win10Git"                        -target_device seagate-4tb-desktop
#backup-directory -source_device delray -source_directory "Users\Public\Documents\Hyper-V\Virtual Hard Disks"  -target_device seagate-4tb-desktop

#backup-directory -source_device delray -source_directory "Users\thumb\VMs\rp-Win10Git"                        -target_device tiny-thumb
backup-directory  -source_device delray -source_directory "Users\Public\Documents\Hyper-V\Virtual Hard Disks"  -target_device tiny-thumb