backup-directory -source_device delray -source_directory users\thumb\documents -target_device seagate-4tb-little
backup-directory -source_device delray -source_directory users\thumb\documents -target_device seagate-4tb-desktop
backup-directory -source_device delray -source_directory users\thumb\documents -target_device tiny-thumb