backup-directory -source_device rpwin10git -source_directory users\roger\documents -target_device seagate-4tb-little
#backup-directory -source_device win10rp-1809 -source_directory users\roger\documents -target_device seagate-4tb-little

#backup-directory -source_device rpwin10git -source_directory users\roger\documents -target_device seagate-4tb-desktop
#backup-directory -source_device win10rp-1809 -source_directory users\roger\documents -target_device seagate-4tb-desktop

